h2 {
  margin-bottom: 50px;
}

h1, h2 {
  font-family: Lato;
}

.app {
  padding: 5px;
}

.text-input {
  padding: 10px 5px;
  border: 1px solid lightgray;
  text-align: right;
}

.mirror {
  font-family: Lato;
  font-style: italic;
  background: #1e5799;
  background: linear-gradient(to bottom, #b8d0ec 0%, #2989d8 50%, #207cca 75%, #7db9e8 100%);
  padding: 10px;
  min-width: 200px;
  display: inline-block;
  box-shadow: 0 7px 3px -5px rgba(0, 0, 0, 0.2);
}

.section1 {
  background-color: white;
}

.bulb {
  width: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.bulb__top {
  width: 50px;
  height: 50px;
  border-radius: 45%;
  border: 1px solid #717171;
}

.bulb__wire {
  position: absolute;
  top: 0;
}

.bulb__bottom {
  width: 18px;
  height: 15px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 2px solid #717171;
  position: relative;
  top: -3px;
}

.bulb--on > .bulb__top {
  background: yellow;
}

h1, h2 {
  font-family: Lato;
}

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.pixel {
  background: #9fe2fd;
  border: 1px solid white;
  width: 15px;
  height: 15px;
}

.pixel-dot {
  background: #e44d4d;
}

body {
  background: #eaeaea;
}

* {
  font-family: Lato;
}

.elevator {
  max-height: 200px;
  overflow-y: scroll;
  border: 2px solid black;
}

.floor {
  height: 150px;
  border-bottom: 2px dashed #333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: white;
}

.floor:last-child {
  border: none;
}

.direction {
  background: #333;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  text-align: center;
}

body {
  background: #eaeaea;
}

* {
  font-family: Lato;
}

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

body {
  background: #eaeaea;
}

* {
  font-family: Lato;
  box-sizing: border-box;
}

.wrapper {
  background-image: url("https://i.pinimg.com/originals/a0/44/5a/a0445a0e12f28a692e91139cc140812c.jpg");
  background-size: cover;
  border-radius: 5px;
  border: 2px solid #333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.keyboard__button {
  width: 50px;
  height: 50px;
  margin: 5px;
  background: #333;
  color: white;
  border-radius: 5px;
  border: none;
}

.keyboard__button:hover {
  background: #777;
}

.keyboard__button--reset {
  background: darkred;
}

.keyboard__button--save {
  background: darkgreen;
}

.keyboard__button--reset:hover {
  background: red;
}

.keyboard__button--save:hover {
  background: green;
}

.display {
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 2px solid #333;
  color: #333;
  display: inline-block;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #88e1f1 100%);
  -ms-flex-positive: 1;
      flex-grow: 1;
}

body {
  background: #eaeaea;
}

* {
  font-family: Lato;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

.app {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.entry {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.entry__image {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  margin-right: 5px;
}

.space {
  margin: 500px;
}

.potwor {
  background: #1b507a;
  background: radial-gradient(circle, #1b507a 0%, #0c2132 100%);
}

.eye-left {
  left: 10px;
}

.eye-left .dot {
  top: 30px;
  left: 25px;
}
/*# sourceMappingURL=style.css.map */